[default]
aws_access_key_id = {{ onepasswordRead "op://Personal/AWS - justinw/Access Key ID" .onepasswordAccount | trim }}
aws_secret_access_key = {{ onepasswordRead "op://Personal/AWS - justinw/Secret Access Key" .onepasswordAccount | trim }}

{{ if .pff }}
[pff]
aws_access_key_id = {{ onepasswordRead "op://PFF/AWS - S3 PFFKit Documentation/Access Key ID" .onepasswordAccount | trim }}
aws_secret_access_key = {{ onepasswordRead "op://PFF/AWS - S3 PFFKit Documentation/Secret Access Key" .onepasswordAccount | trim }}
{{ end }}
