[default]
aws_access_key_id = {{ onepasswordRead "op://CompoundBNB/AWS - justinw/Access Key ID" | trim }}
aws_secret_access_key = {{ onepasswordRead "op://CompoundBNB/AWS - justinw/Secret Access Key" | trim }}
