[default]
aws_access_key_id = {{ onepasswordRead "op://Personal/AWS - justinw/Access Key ID" .onepasswordAccount | trim }}
aws_secret_access_key = {{ onepasswordRead "op://Personal/AWS - justinw/Secret Access Key" .onepasswordAccount | trim }}
