# EditorConfig Info
# https://editorconfig.org/

# This is a local config that will override my global defaults.
# https://blog.danskingdom.com/Reasons-to-use-both-a-local-and-global-editorconfig-file/
root = false

[*]
# Unix-style newlines
indent_size = 2
