# ==================================================
# Neovim Plugins
# ==================================================

{{- template "vim_plugins" dict "base_path" "$XDG_DATA_HOME/nvim/site" "refresh_period" .refresh_periods.week -}}
