# ==================================================
# VIM Plugins
# ==================================================

{{- template "vim_plugins" dict "base_path" "$XDG_DATA_HOME/vim" "refresh_period" .refresh_periods.week -}}
