{
  "Profiles" : [
    {
      "Rewritable" : true,
      "Guid" : "56608A71-D58F-4C8F-8719-0BA84A677457",
      "Description" : "My preferred iTerm2 profile.",
      "Normal Font" : "OperatorMonoSSm-Book 16",
      "Only The Default BG Color Uses Transparency" : false,
      "Name" : "JWW",
      "Use Bright Bold" : true,
      "Silence Bell" : false,
      "Non Ascii Font" : "OperatorMonoSSm-Book 16",
      "Blur Radius" : 16.080635233128323,
      "Custom Window Title" : "\\(currentTab.currentSession.path)",
      "Unlimited Scrollback" : true,
      "Columns" : {{ index . ((.chezmoi.hostname | lower)) "iterm2_width" }},
      "Show Status Bar" : true,
      "Blur" : true,
      "Rows" : {{ index . ((.chezmoi.hostname | lower)) "iterm2_height" }},
    }
  ]
}
