{
  "Profiles" : [
    {
      "Rewritable" : true,
      "Guid" : "jww-dynamic-profile",
      "Description" : "My preferred iTerm2 profile.",
      "Normal Font" : "OperatorMonoSSm-Book 16",
      "Only The Default BG Color Uses Transparency" : false,
      "Name" : "JWW",
      "Use Bright Bold" : true,
      "Silence Bell" : false,
      "Non Ascii Font" : "OperatorMonoSSm-Book 16",
      "Blur Radius" : 16.080635233128323,
      "Custom Window Title" : "\\(currentTab.currentSession.path)",
      "Unlimited Scrollback" : true,
      "Columns" : {{ index .machines ((.chezmoi.hostname | lower)) "iterm2_width" }},
      "Show Status Bar" : true,
      "Blur" : true,
      "Rows" : {{ index .machines ((.chezmoi.hostname | lower)) "iterm2_height" }},
      "Close Sessions On End": 1,
      "Window Type" : 0
    }
  ]
}
