#!/usr/bin/env zsh
#
# Install autocompletions for zsh.

source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

if type_exists 'swift'; then
  swift package completion-tool generate-zsh-script >"$ZDOTDIR/functions/_swift"
  success "Successfully generated Swift Package autocompletions."
fi

if type_exists 'chezmoi'; then
  chezmoi completion zsh --output="$ZDOTDIR/functions/_chezmoi"
  success "Successfully generated Chezmoi autocompletions."
fi

if type_exists 'just'; then
  just --justfile $XDG_CONFIG_HOME/just/justfile --completions zsh >"$ZDOTDIR/functions/_justfile"
  success "Successfully generated justfile autocompletions."
fi

if type_exists 'rustup'; then
  rustup completion zsh >"$ZDOTDIR/functions/_rustup"
  rustup completions zsh cargo >"$ZDOTDIR/functions/_cargo"
  success "Successfully generated rustup autocompletions."
fi

if type_exists 'gh'; then
  gh completion -s zsh >"$ZDOTDIR/functions/_gh"
  success "Successfully generated GitHub CLI autocompletions."
fi

if type_exists 'ipatool'; then
  ipatool completion zsh >"$ZDOTDIR/functions/_ipatool"
  success "Successfully generated ipatool autocompletions."
fi
