{{ if and (not .headless) (lookPath "gh") -}}
#!/usr/bin/env zsh
#
# Install universal Homebrew dependencies

source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

info "Installing GitHub Copilot CLI extensions."

if ! gh extension list | grep -q "gh-copilot"; then
  info "GitHub Copilot CLI extension not found. Installing..."
  gh extension install github/gh-copilot
fi


{{ end -}}
