#!/usr/bin/env zsh

{{ if eq .chezmoi.os "darwin" -}}
# MacOS build version: {{ output "sw_vers" "--buildVersion" }}
ssh-add --apple-use-keychain {{ .chezmoi.homeDir }}/.ssh/id_ed25519 2>/dev/null
{{ else if and (eq .chezmoi.os "linux") (not .ephemeral) (not .synology) -}}
ssh-add {{ .chezmoi.homeDir }}/.ssh/id_ed25519
{{ end -}}
