{{ if and (not .headless) (lookPath "gh") -}}
#!/usr/bin/env zsh
#
# Install universal Homebrew dependencies

source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

info "Installing GitHub Copilot CLI extensions."
# Install the GitHub Copilot CLI extension for gh
gh extension install github/gh-copilot
{{ end -}}
