{{ if and (not .headless) (lookPath "gh") -}}
#!/usr/bin/env zsh
#
# Install universal Homebrew dependencies

source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

{{ end -}}
