#!/usr/bin/env zsh

{{ if eq .chezmoi.os "darwin" -}}
ssh-add --apple-use-keychain {{ .chezmoi.homeDir }}/.ssh/id_rsa
{{ else if eq .chezmoi.os "linux" -}}
ssh-add {{ .chezmoi.homeDir }}/.ssh/id_rsa
{{ end -}}
