#!/usr/bin/env zsh
#
# Install autocompletions for zsh.

source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

if type_exists 'swift'; then
  swift package completion-tool generate-zsh-script >"$ZDOTDIR/functions/_swift"
  success "Successfully generated Swift Package autocompletions."
fi

if type_exists 'chezmoi'; then
  chezmoi completion zsh --output="$ZDOTDIR/functions/_chezmoi"
  success "Successfully generated chezmoi autocompletions."
fi

if type_exists 'just'; then
  just --justfile $XDG_CONFIG_HOME/just/justfile --completions zsh >"$ZDOTDIR/functions/_justfile"
  success "Successfully generated Justfile autocompletions."
fi

if type_exists 'rustup'; then
  rustup completion zsh >"$ZDOTDIR/functions/_rustup"
  rustup completions zsh cargo >"$ZDOTDIR/functions/_cargo"
  success "Successfully generated Rust autocompletions."
fi

if type_exists 'gh'; then
  gh completion -s zsh >"$ZDOTDIR/functions/_gh"
  success "Successfully generated GitHub CLI autocompletions."
fi

if type_exists 'ipatool'; then
  ipatool completion zsh >"$ZDOTDIR/functions/_ipatool"
  success "Successfully generated ipatool autocompletions."
fi

if type_exists 'uv'; then
  uv generate-shell-completion zsh >"$ZDOTDIR/functions/_uv"
  success "Successfully generated uv autocompletions."
fi

if type_exists 'rg'; then
  rg --generate complete-zsh >"$ZDOTDIR/functions/_rg"
  success "Successfully generated ripgrep autocompletions."
fi
