# ==================================================
# Neovim Plugins
# ==================================================

{{- template "vim_plugins" dict "base_path" ".local/share/nvim/site" "refresh_periods" .refresh_periods -}}