# ==================================================
# VIM Plugins
# ==================================================

{{- template "vim_plugins" dict "base_path" ".local/share/vim" "refresh_periods" .refresh_periods -}}