{
  "cleanupPeriodDays": 99999,
  "includeCoAuthoredBy": false,
  "permissions": {
    "allow": [
      "Bash(git fetch:*)"
    ],
    "deny": [
      "Read(./.env)",
      "Read(./.env.*)",
      "Read(./secrets/**)",
      "Read(./config/credentials.json)",
      "Read(./build)"
    ]
  },
  "hooks": {},
  "enableWorkflows": true,
  "enabledPlugins": {
    "claude-code-setup@claude-plugins-official": true,
    "code-review@claude-plugins-official": true
  },
  "editorMode": "vim",
  "effortLevel": "medium"
}