# Documentation
# https://docs.npmjs.com/cli/v7/configuring-npm/npmrc

//registry.npmjs.org/:_authToken={{ onepasswordRead "op://Personal/NPM Registry Token/credential" .onepasswordAccount | quote | trim }}
//npm.pkg.github.com/:_authToken={{ onepasswordRead "op://Personal/GitHub Package Registry Token/credential" .onepasswordAccount | quote | trim }}
//npm.748sj.co/:_authToken={{ onepasswordRead "op://Personal/npm.748sj.co Token/credential" .onepasswordAccount | trim }}

@justin:registry=https://npm.pkg.github.com/
@pro-football-focus:registry=https://npm.pkg.github.com/

save=true
init.author.name={{ .name }}
init.author.email={{ .email }}
init.author.url={{ .url }}
init.license=MIT
init.version=0.0.1
loglevel=error
cache=${HOME}/.cache/npm
