# Documentation
# https://docs.npmjs.com/cli/v7/configuring-npm/npmrc


{{- if and (not .ephemeral) (not .synology) }}
//registry.npmjs.org/:_authToken={{ onepasswordRead "op://CompoundBNB/NPM Registry Token/credential" | quote | trim }}
//npm.pkg.github.com/:_authToken={{ onepasswordRead "op://CompoundBNB/GitHub Package Registry Token/credential" | quote | trim }}
//npm.748sj.co/:_authToken={{ onepasswordRead "op://CompoundBNB/npm.748sj.co Token/credential" | trim }}
{{- end }}

@justin:registry=https://npm.pkg.github.com/

save=true
init.author.name={{ .name }}
init.author.email={{ .email }}
init.author.url={{ .url }}
init.license=MIT
init.version=0.0.1
loglevel=error
cache=${HOME}/.cache/npm
fund=false
