{
    "$schema": "https://raw.githubusercontent.com/modelcontextprotocol/specification/refs/heads/main/schema/2025-03-26/schema.json",
    "mcpServers": {
        "filesystem": {
        "command": "docker",
        "args": [
          "run",
          "-i",
          "--rm",
          "--mount", "type=bind,src={{ .chezmoi.homeDir }}/Desktop,dst=/projects/Desktop",
          "--mount", "type=bind,src={{ .chezmoi.homeDir }}/Downloads,dst=/projects/Downloads",
          "--mount", "type=bind,src={{ .chezmoi.homeDir }}/src,dst=/projects/src",
          "mcp/filesystem",
          "/projects"
        ]},
        "github": {
            "command": "docker",
            "args": [
                "run",
                "-i",
                "--rm",
                "-e",
                "GITHUB_PERSONAL_ACCESS_TOKEN",
                "ghcr.io/github/github-mcp-server"
            ],
            "env": {
                "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ onepasswordRead "op://CompoundBNB/GitHub API - MCP/credential" .onepasswordAccount | trim }}"
            }
        }
    }
}
