{
    "$schema": "https://raw.githubusercontent.com/modelcontextprotocol/specification/refs/heads/main/schema/2025-03-26/schema.json",
    "mcpServers": {
        "kagisearch": {
          "command": "docker",
          "args": [
            "run",
            "-i",
            "--rm",
            "-e",
            "KAGI_SUMMARIZER_ENGINE",
            "-e",
            "KAGI_API_KEY",
            "mcp/kagisearch"
          ],
          "env": {
            "KAGI_SUMMARIZER_ENGINE": "cecil",
            "KAGI_API_KEY": "{{ onepasswordRead "op://dotfiles/Kagi API Key/credential" | trim }}"
          }
      }
    },
    "preferences": {
      "sidebarMode": "code",
      "bypassPermissionsModeEnabled": true,
      "menuBarEnabled": false
    }
}
