export CR_PAT={{ onepasswordRead "op://CompoundBNB/GitHub Package Registry Token/credential" | quote | trim }}

if [[ -d ~/.orbstack/shell ]]; then
  source ~/.orbstack/shell/init.zsh 2>/dev/null || :
fi
