# General
alias mkdir='mkdir -p'
alias pw='pwd'
alias dot='chezmoi'
alias m='micro'
alias path='echo $PATH | tr ":" "\n"'

{{ if lookPath "brew" -}}
# Homebrew
alias brews='brew list -1'
alias bubo='brew update && brew outdated'
alias bubc='brew upgrade && brew cleanup'
alias bubu='bubo && bubc'
{{ end -}}

# Git Stuff
# Before fetching, remove any remote-tracking references that no longer exist on the remote
alias gl='git pull --prune'
# Push to the current branch on GitHub.
alias gp='git push origin HEAD'
# Shorthand for getting current Git Status
alias gst='git status'
# If you are deep in the directory tree, this will return to the project root.
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

# Pipe my public key to my clipboard.
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# Python
alias venv=". .venv/bin/activate"
alias venv_create="$(which python3) -m venv .venv"

# If pigz is available, alias gzip/gunzip to prefer it.
# https://zlib.net/pigz/
(( ${+commands[pigz]} )) && alias gzip='pigz'
(( ${+commands[unpigz]} )) && alias gunzip='unpigz'

# If pbzip2 is available, alias bzip2/bunzip2 to prefer it.
# https://github.com/cosnicolaou/pbzip2
(( ${+commands[pbzip2]} )) && alias bzip2='pbzip2'
(( ${+commands[pbunzip2]} )) && alias bunzip2='pbunzip2'

{{ if lookPath "just" -}}
# Just / Justfile
alias j="$(which just) --justfile $XDG_CONFIG_HOME/just/justfile" --working-directory .
alias jst='j'
# For any recipe in my Justfile, create an alias for it.
for recipe in `just --justfile $XDG_CONFIG_HOME/just/justfile --summary`; do
  alias $recipe="just --justfile $XDG_CONFIG_HOME/just/justfile --working-directory . $recipe"
done
{{ end }}
{{ if lookPath "bat" -}}
# If bat is available, alias cat to prefer it.
alias cat='bat'
{{ else if lookPath "batcat" }}
# If batcat is available, alias cat to prefer it.
alias cat='batcat'
alias bat='batcat'
{{ else }}
# If bat is not available, use cat.
alias bat='cat'
{{ end -}}
{{ if lookPath "fdfind" -}}
# If fdfind is available, alias find to prefer it.
alias fd='fdfind'
{{ else }}
# If fd is not available, use find.
alias fd='find'
{{ end -}}
