# General
alias mkdir='mkdir -p'
alias pw='pwd'
alias reload="source $HOME/.zshenv | echo '=> ZSH profile reloaded.'"
alias dot='chezmoi'
alias m='micro'

if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
  alias vim='nvim'
  alias vi='nvim'
  alias vimdiff='nvim -d'
fi

alias j="$(which just) --justfile $XDG_CONFIG_HOME/just/justfile" --working-directory .
alias jst='j'

# Homebrew
alias brews='brew list -1'
alias bubo='brew update && brew outdated'
alias bubc='brew upgrade && brew cleanup'
alias bubu='bubo && bubc'

# Git Stuff

# Before fetching, remove any remote-tracking references that no longer exist on the remote
alias gl='git pull --prune'
# Push to the current branch on GitHub.
alias gp='git push origin HEAD'
# Shorthand for getting current Git Status
alias gst='git status'
# If you are deep in the directory tree, this will return to the project root.
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

# Pipe my public key to my clipboard.
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# Python

alias venv=". .venv/bin/activate"
alias venv_create="$(which python3) -m venv .venv"

{{- if eq .chezmoi.os "linux" }}
#
# Linux Specific
#

# Unlike macOS, Linux's ls command doesn't set directory colors by default.
# This will fix that.
alias ls='ls --color=auto'
{{- end }}

# If pigz is available, alias gzip/gunzip to prefer it.
# https://zlib.net/pigz/
(( ${+commands[pigz]} )) && alias gzip='pigz'
(( ${+commands[unpigz]} )) && alias gunzip='unpigz'

# If pbzip2 is available, alias bzip2/bunzip2 to prefer it.
# https://github.com/cosnicolaou/pbzip2
(( ${+commands[pbzip2]} )) && alias bzip2='pbzip2'
(( ${+commands[pbunzip2]} )) && alias bunzip2='pbunzip2'

# For any recipe in my Justfile, create an alias for it.
for recipe in `just --justfile $XDG_CONFIG_HOME/just/justfile --summary`; do
  alias $recipe="just --justfile $XDG_CONFIG_HOME/just/justfile --working-directory . $recipe"
done
