#.zprofile is for login shells.
# It is basically the same as .zlogin except that it's sourced before .zshrc whereas .zlogin
# is sourced after .zshrc
#
{{- if eq .chezmoi.os "darwin" }}
# Compiling stuff on macOS
[[ -e $commands[brew] ]] && export ARCHFLAGS="-arch {{ .chezmoi.arch }}"
{{- end }}
