# .zshrc is for interactive shells.
# You set options for the interactive shell there with the setopt and unsetopt commands.
#
# Shut up and don't beep on error
setopt no_beep
# Offer to fix spelling fuckups for commands
setopt correct
# Offer to fix spelling fuckups for arguments
setopt correct_all
# Super GLOB
setopt extended_glob
# zmv support
autoload -U zmv

# Source any file with a *.zsh extension. They have additional settings.
for zsh_file ($ZDOTDIR/*.zsh) source $zsh_file

# PyEnv
if [[ -x $(which pyenv) ]]; then
  eval "$(pyenv init -)"
  eval "$(pyenv virtualenv-init -)"
fi

# Set up gpg-agent automatically for every shell
if [ -f $HOME/.gnupg/.gpg-agent-info ] && [ -n "$(pgrep gpg-agent)" ]; then
    source $HOME/.gnupg/.gpg-agent-info
    export GPG_AGENT_INFO
else
    eval $(gpg-agent --daemon)
fi

# 1Password CLI
# https://developer.1password.com/docs/cli
if [[ -x $(which op) ]]; then
  eval "$(op completion zsh)"; compdef _op op
fi

# AutoJump
# https://olivierlacan.com/posts/cd-is-wasting-your-time/
[ -f {{ env "HOMEBREW_PREFIX" }}/etc/profile.d/autojump.sh ] && . {{ env "HOMEBREW_PREFIX" }}/etc/profile.d/autojump.sh

# Keep this at the end
if [[ -e "$HOME/.cache/iterm2/iterm2_shell_integration.zsh" ]]; then
  source "$HOME/.cache/iterm2/iterm2_shell_integration.zsh" || true
fi

{{ if .pff }}
# Source asdf.
# https://asdf-vm.com/
if [ -f $(brew --prefix asdf)/libexec/asdf.sh ]; then
  source $(brew --prefix asdf)/libexec/asdf.sh
fi
{{ end }}
