{
  "lastChangelogVersion": "0.52.12",
  "defaultProvider": "anthropic",
  "defaultModel": "claude-opus-4-6",
  "defaultThinkingLevel": "off",
  "hideThinkingBlock": false,
  "shellPath": "{{ .homebrew.prefix }}/bin/zsh",
  "shellCommandPrefix": "eval \"$(grep '^alias ' ~/.zshenv)\"",
  "enabledModels": [
    "anthropic/claude-opus-4-6",
    "openai/gpt-5.2",
    "openai/gpt-5.3-codex",
    "openai/gpt-5.3-codex-spark",
    "xai/grok-code-fast-1"
  ]
}
