{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh
#
# Sets macOS defaults to match my personal prefs.
#
# The original idea (and a couple settings) were grabbed from:
#   https://github.com/mathiasbynens/dotfiles/blob/master/.macos

set -e

# Loading Logging Functions
source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

info "Setting up macOS how I like it. . ."

# Appearance For Buttons, Menus, and Windows
# Blue     : 1 (default)
# Graphite : 6
defaults write .GlobalPreferences AppleAquaColorVariant -int 1

# Prefer menu bar and Dock
defaults write .GlobalPreferences AppleInterfaceStyle -string "Dark"

# But adjust it based on the time of day.
defaults write .GlobalPreferences AppleInterfaceStyleSwitchesAutomatically -int 1

# Use the multicolor highlight option by removing these settings.
# "|| true" will ignore error on non-existing delete
defaults delete -g AppleHighlightColor >/dev/null 2>&1 || true
defaults delete -g AppleAccentColor >/dev/null 2>&1 || true

info "Dark Mode Configured"

# Always restore windows when reopening an application that was previously quit.
defaults write .GlobalPreferences NSQuitAlwaysKeepsWindows -int 1

# Sidebar icon size
# Small  : 1
# Medium : 2 (default)
# Large  : 3
defaults write .GlobalPreferences NSTableViewDefaultSizeMode -int 2

# Always open everything in Finder's list view. This is important.
defaults write com.apple.Finder FXPreferredViewStyle Nlsv

# Keep drives off my desktop always
defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool false
defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool false
defaults write com.apple.finder ShowMountedServersOnDesktop -bool false
defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool false

# Always open new Finder windows into iCloud Drive.
defaults write com.apple.finder NewWindowTarget -string PfID
defaults write com.apple.finder NewWindowTargetPath -string "file:///${HOME}/Library/Mobile%20Documents/com~apple~CloudDocs/"

# Show Path bar in Finder
defaults write com.apple.finder ShowPathbar -bool true
# Show Status bar in Finder
defaults write com.apple.finder ShowStatusBar -bool true

# Disable interface sounds.
defaults write .GlobalPreferences com.apple.sound.uiaudio.enabled -bool false

info "Setting Dock preferences."

# Set the icon size of Dock items to 48 pixels on mbp and 80 on iMac.
defaults write com.apple.dock tilesize -int {{ .macos.dock_tile_size }}

# Disable that recent app stuff in the Dock
defaults write com.apple.dock show-recents -bool false

info "I need your password to disable the guest mode account."
# Disable guest account login
sudo defaults write /Library/Preferences/com.apple.loginwindow GuestEnabled -bool false

info "Guest mode disabled."

# Bottom left screen corner → Show Desktop"
defaults write com.apple.dock wvous-bl-corner -int 4
defaults write com.apple.dock wvous-bl-modifier -int 0

info "Lower-left hot corner now shows desktop."

# Enable the Develop menu and the Web Inspector in Safari
defaults write com.apple.Safari IncludeDevelopMenu -bool true

info "Safari develop menu enabled."

# Prefer DDG to Google for Search.
defaults write com.apple.Safari SearchProviderIdentifier -string "com.duckduckgo"

info "Safari now using DuckDuckGo for search"

# Use scroll gesture with the Ctrl (^) modifier key to zoom
sudo defaults write com.apple.universalaccess closeViewScrollWheelToggle -bool true
sudo defaults write com.apple.universalaccess closeViewZoomFactor -bool true

info "Control + Scroll = Zoom."

# Don't allow Mac App Store apps to prompt me for reviews.
defaults write com.apple.AppStore InAppReviewEnabled -bool false

info "Disabled App Store review requests"

defaults write com.apple.MobileSMS PlaySoundsKey -bool false

info "Disabled sound effects in iMessage"

###############################################################################
# Power                                                                       #
###############################################################################

info "Adjusting battery power settings."
# Battery

# Computer sleep: 10 min
sudo pmset -b sleep 10

# Display sleep: 5 min
sudo pmset -b displaysleep 5

# Put the hard disk(s) to sleep when possible: 10 min
sudo pmset -b disksleep 10

# Slightly dim the display when using this power source
sudo pmset -b lessbright 1

# Automatically reduce brightness before display goes to sleep
sudo pmset -b halfdim 1

# Power Adapter

info "Adjusting adapter / plugged-in power settings."
# Computer sleep: 30 min
sudo pmset -c sleep {{ .macos.sleep_minutes }}

# Display sleep: 10 min
sudo pmset -c displaysleep 10

# Put the hard disk(s) to sleep when possible: 10 min
sudo pmset -c disksleep 10

# Wake for network access
sudo pmset -c womp 1

# Automatically reduce brightness before display goes to sleep
sudo pmset -c halfdim 1

# Start up automatically after a power failure
sudo pmset -c autorestart 1

###############################################################################
# Xcode                                                                       #
###############################################################################

info "Setting Xcode preferences."
# Show how long a build takes in Xcode.
defaults write com.apple.dt.Xcode ShowBuildOperationDuration -bool YES

# When an .xcconfig file contains multiple assignments of the same build setting, later
# assignments using $(inherited) will inherit from earlier assignments when using the new
# build system. The old build system discards all except the last assignment. This can cause the
# evaluated result to be different if $(inherited) is used in the value
defaults write com.apple.dt.XCBuild EnableCompatibilityWarningsForXCBuildTransition YES

# Set my keybindings to the defaults.
defaults write com.apple.dt.Xcode IDEKeyBindingCurrentPreferenceSet "JWW.idekeybindings"

# Warn if the new Swift build system is not pleased with my xcconfig files. New in Xcode 10.
defaults write com.apple.dt.XCBuild EnableCompatibilityWarningsForXCBuildTransition -bool NO

# Disable SVN and CVS support for agvtool since its 2018.
defaults write agvtool SVNEnabled NO
defaults write agvtool CVSEnabled NO

# Set the page guide to 150 characters.
defaults write com.apple.dt.Xcode DVTTextPageGuideLocation 150
defaults write com.apple.dt.Xcode DVTTextShowPageGuide -bool YES

# Always shode code coverage in the gutter.
defaults write com.apple.dt.Xcode DVTTextShowCodeCoverage -bool YES

# Enable code folding.
defaults write com.apple.dt.Xcode DVTTextShowFoldingSidebar -bool YES

# Trim whitespace only lines when saving a file.
defaults write com.apple.dt.Xcode DVTTextEditorTrimWhitespaceOnlyLines -bool YES

# Use my preferred theme by default.
defaults write com.apple.dt.Xcode XCFontAndColorCurrentDarkTheme "JWW.xccolortheme"

# Xcode 13.2 - The build system and Swift compiler have a new mode that better utilizes available cores,
# resulting in faster builds for Swift projects
defaults write com.apple.dt.XCBuild EnableSwiftBuildSystemIntegration 1

###############################################################################
# App Settings                                                                #
###############################################################################

# Set Kaleidoscope to use iTerm as the default terminal. (Use 0 for Terminal.app)
defaults write app.kaleidoscope.v3 KALTerminalApp 1

if [[ -x $(which just) ]]; then
  info "Setting default file extension preferences."
  just --justfile $HOME/.local/bin/janitor fix-uti
fi

for app in "Dock" "Finder"; do
  killall "${app}" >/dev/null 2>&1
done

success "macOS successfully configured!"

{{ end -}}
