{{- if and (not .synology) (not .codespaces) -}}
#!/usr/bin/env zsh
#
# Add Poetry plugins and install latest versions of each tool.

set -e

# Loading Logging Functions
source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

if is_cmd asdf; then
  success "asdf installed. . ."
elif [ -f $(brew --prefix asdf)/libexec/asdf.sh ]; then
  info "Sourcing asdf. . ."
  source $(brew --prefix asdf)/libexec/asdf.sh
else
  error "asdf not installed. . ."
  exit 1
fi

info "Configuring asdf. . ."

if [[ $(asdf plugin list | grep python) > /dev/null ]]; then
  asdf plugin-update --all >/dev/null
  success "Updated asdf plugins. . ."
else
  info "Installing asdf plugins. . ."
  asdf plugin-add python
  success "Installed Python plugin. . ."
  asdf plugin-add ruby
  success "Installed Ruby plugin. . ."
  asdf plugin-add yarn
  success "Installed yarn plugin. . ."
  asdf plugin-add nodejs
  success "Installed NodeJS plugin. . ."
  asdf plugin-add poetry https://github.com/asdf-community/asdf-poetry.git
  success "Installed Poetry plugin. . ."
fi

info "Installing asdf tools. . ."
asdf install

success "asdf configured!"
{{- end -}}
