{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh
#
# # This script is run after the Homebrew Brewfile is applied if the file has changed.
# {{ (glob "private_dot_config/macos/*") | join "\n" | sha256sum }}

source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

info "Installing macOS Homebrew updates."
for app in $XDG_CONFIG_HOME/macos/Brewfile*; do
  if [[ -n "$app" ]]; then
    {{ .homebrew.prefix }}/bin/brew bundle --file=$app
  fi
done

success "Homebrew: installed latest macOS Homebrew updates."
{{ end -}}
