{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

set -e

source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

info "Installing xcodes cli."
brew install --formula xcodes

info "Installing latest release of Xcode."
xcodes install --latest

{{- if eq .chezmoi.arch "arm64" }}
info "Apple Silicon detected. Installing Rosetta."
sudo softwareupdate --install-rosetta
{{ end -}}
{{ end -}}
