#!/usr/bin/env bash

set -e

source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

{{- if eq .chezmoi.os "darwin" }}
  if ! [ -x "$(command -v brew)" ]; then
    info "Homebrew not found. Installing!"
    bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  fi
  eval "$({{ .homebrew.prefix }}/bin/brew shellenv)"

  {{- if eq .chezmoi.arch "arm64" }}
    info "M1 Mac detected. Installing Rosetta."
    sudo softwareupdate --install-rosetta
  {{ end -}}
{{ end -}}
