{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

set -e

source {{ joinPath .chezmoi.sourceDir "functions/_logging" }}
source {{ joinPath .chezmoi.sourceDir "functions/_utilities" }}

info "Installing xcodes cli."
brew install robotsandpencils/made/xcodes

info "Installing latest release of Xcode."
xcodes install --latest-prerelease

{{- if eq .chezmoi.arch "arm64" }}
info "M1 Mac detected. Installing Rosetta."
sudo softwareupdate --install-rosetta
{{ end -}}
{{ end -}}
