{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive:= stdinIsATTY -}}
{{- /* detect GitHub codespaces, VSCode remote containers or Docker containers */ -}}
{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $ci := env "CI" | not | not -}}

{{- /* detect my Synology NAS */ -}}
{{- $synology:= false }}
{{- if eq .chezmoi.hostname "nas" -}}
{{- $synology = true -}}
{{- end -}}

{{- $email := "justin@users.noreply.github.com" }}
{{- if and (eq .chezmoi.os "darwin") ($interactive) -}}
{{- $email = promptStringOnce . "email" "What is your email address" $email -}}
{{- end -}}

{{- if stdinIsATTY -}}
{{- writeToStdout "💡 Tip: you can reconfigure with `chezmoi init --data=false`.\n" -}}
{{- end -}}

[data]
  name = "Justin Williams"
  email = {{ $email | quote }}
  username = {{ if eq .chezmoi.os "darwin" }} "justinwilliams" {{ else }} "justin" {{ end }}
  github_username = "justin"
  url = "https://justinw.me"
  codespaces = {{ $codespaces }}
  synology = {{ $synology }}
  ci = {{ $ci }}
  homelab = {{ if or (eq .chezmoi.os "linux") (eq .chezmoi.hostname "m1server") }}true{{ else }}false{{ end }}

[data.homebrew]
  prefix = {{ if eq .chezmoi.os "darwin" -}}"/opt/homebrew"{{ else }}"/home/linuxbrew/.linuxbrew"{{- end }}

{{ if eq .chezmoi.os "darwin" }}
[data.macos]
    # The preferred dock icon size for a Mac.
    dock_tile_size = {{ if eq .chezmoi.hostname "mbp" }}48{{ else }}80{{ end }}
    # The number of minutes until a Mac should go to sleep.
    sleep_minutes = {{ if eq .chezmoi.hostname "mbp" }}30{{ else }}0{{ end }}
    # The preferred terminal width for iTerm 2
    iterm2_width = {{ if eq .chezmoi.hostname "Studio" }}250{{ else }}150{{ end }}
    # The preferred terminal height for iTerm 2
    iterm2_height = {{ if eq .chezmoi.hostname "Studio" }}65{{ else }}40{{ end }}
{{ end }}

{{ if $synology }}
tempDir = "/var/services/tmp"
scriptTempDir = "/var/services/tmp"

[edit]
  hardlink = false
  command = "/usr/local/bin/vim9"
[diff]
  command = "/usr/local/bin/vimdiff"
  args = ["-d", "{{ .Destination }}", "{{ .Target }}"]
[merge]
  command = "/usr/local/bin/vim9"
  args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
{{ end }}
sourceDir = {{ .chezmoi.sourceDir | quote }}

{{ if and (not $synology) (not $codespaces) (not $ci)  }}
[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/.install-password-manager.sh"
{{ end -}}

{{ if or (eq .chezmoi.hostname "m1server") (eq .chezmoi.hostname "m1server") }}
[onepassword]
  mode = "service"

[scriptEnv]
  OP_SERVICE_ACCOUNT_TOKEN = "{{ env "OP_SERVICE_ACCOUNT_TOKEN" | default "" }}"
{{ end }}
