{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "What is your email address?" $email -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}
format: yaml

edit:
  command: "code"
  args:
    - "--wait"

data:
  vendor: {{ if eq .chezmoi.os "darwin" }}"apple"{{ else }}"unknown"{{ end }}
  name: "Justin Williams"
  email: {{ $email }}
  username: "justin"
  url: "https://justinw.me"

  homebrew:
    prefix: {{ if eq .chezmoi.os "darwin" }}
        {{ if eq .chezmoi.arch "arm64" }}
        "/opt/homebrew"
        {{ else }}
        "/usr/local"
        {{ end -}}
      {{ else }}
      "/home/linuxbrew/.linuxbrew"
      {{ end }}

  gpg:
    default_key: 09073F89FE030A19

{{ if eq .chezmoi.os "darwin" }}
  macos:
    dock_tile_size: {{ if eq .chezmoi.hostname "mbp" }}48{{ else }}80{{ end }}
{{ end -}}
