{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- $synology := false -}}
{{- if eq $hostname "nas" -}}
{{-   $synology = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $email := "justin@users.noreply.github.com" }}
{{- if stdinIsATTY }}
{{- $email = promptStringOnce . "email" "What is your email address" $email -}}
{{- end -}}

{{- if stdinIsATTY -}}
{{- writeToStdout "💡 Tip: you can reconfigure with `chezmoi init --data=false`.\n" -}}
{{- end -}}

[data]
  name = "Justin Williams"
  email = {{ $email | quote }}
  username = {{ if eq .chezmoi.os "darwin" }} "justinwilliams" {{ else }} "justin" {{ end }}
  github_username = "justin"
  url = "https://justinw.me"
  ephemeral = {{ $ephemeral }}
  headless = {{ $headless }}
  hostname = {{ $hostname | quote }}
  synology = {{ $synology }}
  homelab = {{ if or (eq .chezmoi.os "linux") (eq .chezmoi.hostname "m1server") }}true{{ else }}false{{ end }}

[data.homebrew]
  prefix = {{ if eq .chezmoi.os "darwin" -}}"/opt/homebrew"{{ else }}"/home/linuxbrew/.linuxbrew"{{- end }}

{{ if $synology }}
tempDir = "/var/services/tmp"
scriptTempDir = "/var/services/tmp"

[edit]
  hardlink = false
  command = "/usr/local/bin/vim9"

[diff]
  command = "/usr/local/bin/vimdiff"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Target }}" }}
  ]

[merge]
  command = "/usr/local/bin/vim9"
  args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
  ]
{{ end }}

sourceDir = {{ .chezmoi.sourceDir | quote }}

{{ if and (not $synology) (not $ephemeral)  }}
[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/.install-password-manager.sh"
{{ end -}}

{{ if or (eq $hostname "homelab" "m1server") }}
[onepassword]
  mode = "service"

[scriptEnv]
  OP_SERVICE_ACCOUNT_TOKEN = "{{ env "OP_SERVICE_ACCOUNT_TOKEN" | default "" }}"
{{ end }}
