{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if the machine is a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if the machine does not have a screen and keyboard */}}
{{- "" -}}

{{- $email := "" -}}
{{- $pff := false -}} {{/* true if this machine be configured with PFF related stuff */}}

{{- $osID := .chezmoi.os -}}

{{- if not (kindIs "invalid" .chezmoi.osRelease) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers or Docker containers */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
  {{- if stdinIsATTY -}}
    {{-   $email = promptString "What is your email address?" $email -}}
  {{- else -}}
    {{-   $email = "justin@users.noreply.github.com" -}}
  {{- end -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $pff = promptBool "Do you want to configure this machine with PFF related stuff?" $pff -}}
{{- end -}}

################################
# dot data
################################
data:
  name: "Justin Williams"
  email: {{ $email | quote }}
  username: "justin"
  onepasswordAccount: "M4GXOUJAFFCVRACF3EDH5RWLAU"
  url: "https://justinw.me"
  pff: {{ $pff }}
  ephemeral: {{ $ephemeral }}
  headless: {{ $headless }}
  osid: {{ $osID | quote }}

  homebrew:
{{- if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "arm64" }}
    prefix: "/opt/homebrew"
  {{- else }}
    prefix: "/usr/local"
  {{ end }}
{{ else }}
    prefix: "/home/linuxbrew/.linuxbrew"
{{- end }}

{{ if eq .chezmoi.os "darwin" }}
  macos:
    # The preferred dock icon size for a Mac.
    dock_tile_size: {{ if eq .chezmoi.hostname "mbp" }}48{{ else }}80{{ end }}
    # The number of minutes until a Mac should go to sleep.
    sleep_minutes: {{ if eq .chezmoi.hostname "mbp" }}30{{ else }}0{{ end }}
{{ end -}}

################################
# chezmoi configuration
################################

sourceDir: {{ .chezmoi.sourceDir | quote }}
format: yaml
