[delta "jww"]
  # Author: Justin Williams
  # Based on the jww bat theme

  # General appearance
  dark = true
  syntax-theme = jww
  line-numbers = true

  # File styling
  #file-style = "#EFB759" bold
  #file-decoration-style = "#EFB759" ul
  #file-added-label = "[+]"
  #file-copied-label = "[C]"
  #file-modified-label = "[M]"
  #file-removed-label = "[-]"
  #file-renamed-label = "[R]"

  # Hunk header styling
  #hunk-header-style = "magenta bold"
  #hunk-header-decoration-style = "magenta box"

  # Diff styling
  #minus-style = "#FF2B38"
  #minus-emph-style = "#FF2B38" bold
  #minus-non-emph-style = "#FF2B38"

  #plus-style = "#41CC45"
  #plus-emph-style = "#41CC45" bold
  #plus-non-emph-style = "#41CC45"

  #zero-style = syntax
  #whitespace-error-style = "red reverse"
  #inline-hint-style = "cyan"

  # Line number styling
  #line-numbers-left-style = "#4F4F4F"
  #line-numbers-right-style = "#4F4F4F"
  #line-numbers-minus-style = "#FF2B38"
  #line-numbers-plus-style = "#41CC45"
  #line-numbers-zero-style = "#4F4F4F"

  # Commit styling
  #commit-style = "#EFB759" bold
  #commit-decoration-style = "#EFB759" box

  # Blame styling
  #blame-format = "{author:<18} ({commit:>7}) ┊{timestamp:^16}┊ "
  #blame-palette = "#101010 #200020 #002800 #000028 #202000 #280000 #002020 #002800 #202020"
  #blame-code-style = syntax

  # Merge conflict styling
  #merge-conflict-begin-symbol = "▼"
  #merge-conflict-end-symbol = "▲"
  #merge-conflict-ours-diff-header-style = "yellow bold"
  #merge-conflict-theirs-diff-header-style = "yellow bold"
