[user]
  email = {{- onepasswordRead "op://Personal/Personal SSH Key/email" .onepasswordAccount -}}
  signingKey = {{- onepasswordRead "op://Personal/Personal SSH Key/public key" .onepasswordAccount -}}
