[user]
  email = {{ onepasswordRead "op://CompoundBNB/Personal SSH Key/email" }}
  signingKey = {{ onepasswordRead "op://CompoundBNB/Personal SSH Key/public key" }} {{ onepasswordRead "op://CompoundBNB/Personal SSH Key/title" }}
