Host github.com gist.github.com
  Port 22
  User {{ .github_username }}
  PreferredAuthentications publickey
{{- if eq .osid "darwin" }}
  IdentityAgent "~/.config/1password/t/agent.sock"
{{ end -}}

{{ if .personal -}}
Host mbp
  HostName 100.103.99.109
  Port 22
  User justinwilliams
  ForwardAgent yes
{{- if eq .osid "darwin" }}
  IdentityAgent "~/.config/1password/t/agent.sock"
{{ end -}}

Host studio
  HostName 100.88.193.73
  Port 22
  User justinwilliams
  ForwardAgent yes
{{- if eq .osid "darwin" }}
  IdentityAgent "~/.config/1password/t/agent.sock"
{{ end -}}
{{ end -}}
