{{- if eq .chezmoi.os "darwin" }}
Include ~/.orbstack/ssh/config
{{ end }}

Host *
  IdentityFile {{ .chezmoi.homeDir }}/.ssh/id_rsa
  AddKeysToAgent yes
  ServerAliveInterval 120
  ServerAliveCountMax 30
  ForwardAgent yes

Host homelab
  User justin
  HostName homelab.local

Host nas
  User justinwme
  HostName nas.local

Host mbp
  User justinwilliams
  HostName mbp.local

Host studio
  User justinwilliams
  HostName studio.local

Host udm
  User root
  HostName unifi.748sj.co
